In [131]:
#wyÅ›wietlenie oryginalej bazy
import pandas as pd
data = pd.read_csv('../OriginalData/tb.csv')
data

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [162]:
# usuniÄ™cie kolumn, gdzie nie ma przynajmniej 3 wartoÅ›ci rÃ³Å¼nych od Nan
# zastÄ…pienie pozostaÅ‚ych wartoÅ›ci NaN zerami

data_without_null = data.dropna(axis=0, thresh=3)
data_without_null
df =  data_without_null.fillna(0)
df

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
4,AD,1993,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,AD,1994,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,AD,1996,8.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
7,AD,1997,17.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,...,0.0,0.0,0.0,1.0,2.0,3.0,0.0,0.0,1.0,0.0
8,AD,1998,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,0.0,0.0,187.0,833.0,2908.0,2298.0,1056.0,...,0.0,0.0,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,0.0
5765,ZW,2005,13155.0,0.0,0.0,210.0,837.0,2264.0,1855.0,762.0,...,0.0,0.0,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,0.0
5766,ZW,2006,12718.0,0.0,0.0,215.0,736.0,2391.0,1939.0,896.0,...,0.0,0.0,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,0.0
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,0.0
5768,ZW,2008,9830.0,0.0,0.0,127.0,614.0,0.0,3316.0,704.0,...,0.0,0.0,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [161]:
df = data_without_null.fillna(0)
df = pd.melt(df, id_vars=['iso2', 'year'], value_vars=list(df.columns)[3:],
             var_name='column', value_name='cases')
df['cases'] = df['cases'].astype(int)
df['sex'] = df['column'].str[7]
df['age'] = df['column'].str[8:].map({
    '04': '0-4',
    '514': '5-14',
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+',
    'u': 'unknown'
})
df = df[['iso2', 'year', 'sex', 'age', 'cases']]
df.to_csv('../AnalysisData/tb-tidy.csv', index=False)
#df.sort_values(by=['year'], axis=0)
df = df.loc[(df['iso2'] == 'AD') & df['cases'] > 1]
df.reset_index(drop=True)

Empty DataFrame
Columns: [iso2, year, sex, age, cases]
Index: []

In [160]:
# zmiana formatu, gdzie kolumny 'iso2' i 'year'sÄ… zmiennymi identyfikatora a pozostaÅ‚e to wartoÅ›ci mierzone
df = pd.melt(df, id_vars=['iso2', 'year'], value_vars=list(df.columns)[3:],
             var_name='column', value_name='cases')
df = df[df['cases'] != '0']
df['cases'] = df['cases'].astype(int)
df['sex'] = df['column'].str[7]
df['age'] = df['column'].str[8:].map({
    '04': '0-4',
    '514': '5-14',
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+',
    'u': 'unknown'
})
df = df[['iso2', 'year', 'sex', 'age', 'cases']]
df.to_csv('../Analysisdata/tb-tidy.csv', index=False)
df.to_csv('../Documents/tb-tidy.csv', index=False)
df = df.loc[(df['cases'] != 0)]
df.sort_values(by=['iso2','year','age','sex'])
#x = df.loc[(df['iso2'] == 'CL')]
df.reset_index(drop=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12040\1154886400.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df = pd.melt(df, id_vars=['iso2', 'year'], value_vars=list(df.columns)[3:],

Empty DataFrame
Columns: [iso2, year, sex, age, cases]
Index: []